/* ======== INDEX HTML ======== */
/* ===== GLOBAL STYLES ===== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
h1{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #274259;
}
mark {
  background-color: transparent;
  color: #f24c3d;
  font-weight: bold;
}

.titulos {
  text-align: center;
  text-decoration: solid;
  color: #274259;
  padding: 20px 0;
}
/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
  color: black;
}

header a {
  color: rgb(132, 134, 134);
  text-decoration: none;
  padding-inline: 5px;
  font-weight: bold;
}

/* Logo */
.logo-header {
  width: 120px;
}

/* Social Icons in Header */
.icon-header {
  color: #f14c3d;
  transform: scale(1.5);
  object-fit: contain;
  transition: transform 0.3s;
}

.icon-header:hover {
  transform: scale(1.8);
}

/* Navbar */
#navbar {
  background-color: #27425914;
}

/* Buttons */
button {
  background-color: aquamarine;
}

/* ===== WORD CLOUD ===== */

#wordCloudCanvas {
  margin-top: -40px; /* Ajusta este valor según lo necesites */
}
canvas {
  background-color: transparent;
}

/* ===== SECTIONS ===== */

/* General Styles for Sections */
.find {
  background-color: #336185;
}

.contact {
  background-color: aqua;
  text-align: center;
}

.ourTeamSection {
  padding: 40px;
}

.ourTeamSection .descripcion {
  padding: 0 50px;
  text-align: center;
  color: #274259;
}

/* ===== CLIENT LOGO ANIMATION ===== */
.clientSection {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.logo-container {
  display: inline-block;
  animation: slide 20s linear infinite;
}

.logoClass {
  width: 10%;
  aspect-ratio: 4/3;
  object-fit: contain;
  padding-right: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Duplicate logos for infinite scroll effect */
.logo-container::after {
  content: "";
  display: inline-block;
  animation: slide 20s linear infinite;
}

/* ===== TEAM CARDS ===== */
.teammates {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team-card {
  width: 100%;
  max-width: 220px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.teamate-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.teamate-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #f24c3d;
}

.teamate-role {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  font-size: 18px;
  color: #274259;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f24c3d;
}

/* ===== CARDS SECTION ===== */
.cardSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card1 {
  color: #274259;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 32%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card1 img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.card1 h2 {
  font-size: 1.5rem;
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.card1 p {
  padding: 0 20px 20px;
  text-align: justify;
  font-size: 1rem;
}

.button2 {
  border-width: 0;
  background-color: #f24c3d;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
  padding: 10px;
  margin: 0 auto 40px;
  border-radius: 8px;
}

.button2:hover {
  background-color: #f14c3d;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.initialText {
  color: #274259;
  text-align: center;
  margin: 0 20px;
  padding: 30px;
}



.textnav:hover {
  color: #f14c3d;
  transform: scale(1.1);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.imgcorpo {
  width: 100%;
  height: auto;
  max-width: 1000px;
  display: inline-block;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 40px 0 60px;
}

/* ===== TESTIMONIO SECTION STYLES ===== */

/* Estilo general de la sección */
.testimonialSection {
  padding: 50px 20px;
  text-align: center;
}

/* Contenedor de los testimonios */
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

/* Estilo de cada testimonio */
.testimonial {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #ff6b6b;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Texto del testimonio */
.testimonial p {
  font-size: 1rem;
  line-height: 1.6;
  color: #274259;
  margin-bottom: 15px;
  font-style: italic;
}

/* Autor del testimonio */
.testimonial h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #f24c3d;
  margin: 0;
}
/* ===== FOOTER ===== */
.footer {
  background: #27425914;
  color: #f24c3d;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.footer-contact {
  flex: 1;
  min-width: 300px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a {
  color: #274259;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-list a:hover {
  color: #0077b5;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.icon-footer {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.icon-footer:hover {
  transform: scale(1.1);
}

.footer-location {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.footer-map {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.footer h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-location p a {
  color: #274259;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0 0;
  border-top: 1px solid #c5bdbd;
  margin-top: 20px;
  font-size: 14px;
  color: #27425970;
}

.footer-list {
  list-style-type: none;
}
/* ======== SANAMENTE HTML ======== */

/* ===== SANAMENTE GLOBAL ===== */

.bodysanamente {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainsanamente {
  padding: 20px;
  background-color: #f9f9f9;
}

/* ===== SANAMENTE CARDS ===== */

.card-container-sanamente {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Espacio entre tarjetas */
  justify-content: center;
}

.cardsanamente {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 600px; /* Tamaño fijo para todas las tarjetas horizontales */
  height: 350px; /* Altura fija para mantener la proporción rectangular */
  display: flex; /* Para alinear imagen y contenido horizontalmente */
  transition: transform 0.3s ease;
  flex-direction: row; /* Distribuye imagen y contenido de manera horizontal */
  justify-content: space-between; /* Espacio entre la imagen y el contenido */
}

.cardsanamente:hover {
  transform: translateY(15px);
}

.cardsanamente img {
  width: 40%; /* La imagen ocupa el 40% del ancho */
  height: 100%; /* Ocupa toda la altura de la tarjeta */
  object-fit: cover;
  border-radius: 15px 0 0 15px; /* Bordes redondeados solo en la parte izquierda */
}

.cardsanamente .content {
  padding: 20px;
  width: 60%; /* El contenido ocupa el 60% del espacio */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye los elementos en la tarjeta de manera equitativa */
}

.cardsanamente h2 {
  color: #f14c3d;
  font-size: 1.6em;
  margin-bottom: 15px;
  font-weight: bold;
}

.cardsanamente h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #2c3e50;
  font-weight: bold;
}

.cardsanamente p {
  font-size: 1em;
  color: #274259;
  line-height: 1.6;
  margin-bottom: 15px;
}

.cardsanamente ul {
  font-size: 1em;
  color: #274259;
  line-height: 1.6;
  margin-left: 25px;
}

.cardsanamente ul li {
  margin-bottom: 10px; /* Separación entre los ítems de la lista */
}


